body {
    background-image: url("/Users/Yannik/Bootcamp/Homework5/TriviaGame/assets/images/web-3120321_1920.png")
}

h1, h3 {
    text-align: center;
}

#general-container {
    border: solid black;
    border-radius: 5px;
    margin: 0px 200px 0px;
}