/* Style for elements present before the game starts */
body{
    background-image: url("https://img5.goodfon.com/original/1920x1080/4/a4/tekstura-fon-travel-patterns-vintage-style.jpg");
    background-position: 50% 30%;
}

h1, h3 {
    text-align: center;
    opacity: 1;
}
.inside-jumbotron{
    opacity:1;
}

#general-container {
    border: solid black;
    border-radius: 5px;
    margin: 0px 200px 0px;
    background-color:rgba(255, 255, 255, 0.7);
    height: 700px;
    text-align: center;
}


#game-title{
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    color: rgb(0, 76, 255);
    text-shadow: 2px 2px black;
}

#game-subtitle{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    text-shadow: 2px 2px white;
}
#actn-play{
    text-align: center;
    height: 100px;
    width: 200px;
    border: solid turquoise;
    background-color: rgb(160, 161, 106);
    border-radius: 4px;
    font-family: 'Lexend Giga', sans-serif;
    font-size: 30px;

}

/* Styles for buttons once the game starts and changes page */
#btn-submit{
    color: white;
    background-color: blue;
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-family: 'Lexend Giga', sans-serif;
}

#timer{
    width: 200px;
    font-size: 25px;
    font-family: 'Gloria Hallelujah', cursive;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;

}

/* Styles for the RESULTS PAGE */

.results-pg{
    font-size: 30px;
    font-family: 'Patrick Hand', cursive;
}
#correct-answers{

    color: green;
}
#incorrect-answers{

    color: brown;
}
#unanswered-answers{

    color: beige;
}
#timesup{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
}
#time-text{
    font-weight: bold;
    margin-bottom: 0px;
}
#clock{
    font-family: 'Lexend Giga', sans-serif;
    font-weight: bold;
    background-color: beige;
    border: solid black;
    width: 200px;
}

/* This is for styling the FORM */
.question-text{
    font-weight: bold;
}
.radio-inputs{
    display: inline-block;
}
